.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.tooltip-container {
    position: relative;
    display: flex;
    place-content: center;
}

.container {
    position: relative;
    display: flex;
    place-content: center;
}


p.hover-text {
    display: none;
    position: absolute;
    top: -60px;
    z-index: 1;
    background: #00732c;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 2px;
    animation: fadeIn 0.6s;

    padding-left: 10%;
    padding-right: 10%;

    text-align: center;
}

p.hover-text:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #00732c;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.banner-image {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0)), url("../img/hero1.png") center no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-phone-image img {
    width: 300px;
}

.btn {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
    transition: .25s ease-in-out 0.5s;
}

.btn-accent {
    color: crimson;
    border-color: crimson;
}

.btn-accent:hover,
.btn-accent:focus {
    background: rgba(204, 6, 50);
    color: white;
    transition: .25s ease-in-out 0s;
}

.container-dep {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-dep:hover {
    cursor: pointer;
}

.container-dep img {
    filter: grayscale();
    width: 400px;
    height: 400px;
    border-radius: 30%;
    border: 6px solid whitesmoke;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    transition: filter 0.4s ease-in-out;
}

.container-dep:hover img {
    filter: none;
}

@media (max-width: 991px) {
    .col-xs-12 {
        margin-bottom: 10px;
    }
}

.between-sec {
    padding: 20rem 0;
    text-align: center;
}

.between-sec-color {
    color: white;
}

.section-paralax {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero1.png") center no-repeat;
    background-size: cover;
    padding: 10em 0;
    background-attachment: fixed;
}

#slide1 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0)), url("/IMG/ingre.jpg") center no-repeat;
    background-size: cover;
    background-position: center;
}

#slide2 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0)), url("/IMG/beans.jpg") center no-repeat;
    background-size: cover;
    background-position: center;
}

#slide3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0)), url("/IMG/pp.jpg") center no-repeat;
    background-size: cover;
    background-position: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: crimson;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

svg {
    max-width: 100%;
    height: auto;
    display: block;
}

svg g {
    transform-origin: 50% 50%;
}

svg g path,
svg g circle {

    transition: fill 200ms ease-in;
}

svg g path:hover,
svg g circle:hover {
    fill: rgb(0, 0, 0);

}

svg g circle {
    stroke: white;
}

svg g:hover {
    cursor: pointer;
}

#tooltip {
    display: none;
    position: absolute;
    top: -60px;
    z-index: 1;
    background: #00732c;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 2px;
    text-align: center;
}


#tooltip h2 {
    margin: 0;
    font-size: 20px;
}

h5 {
    text-align: center;
}
h6 {
    text-align: center;
    font-size: 60px;
}
img {
    margin-left: auto;
    margin-right: auto;
}

.santaana {
    fill: rgb(250, 124, 83);
}

.santaana:hover {
    fill: rgb(210, 84, 43);
}

.ahuachapan {
    fill: rgb(237, 218, 62);
}

.ahuachapan:hover {

    fill: rgb(197, 178, 22);
}

.sansalvador {
    fill: rgb(255, 255, 100);
}

.sansalvador:hover {
    fill: rgb(215, 215, 60);
}

.sonsonate {
    fill: rgb(191, 174, 211);
}

.sonsonate:hover {
    fill: rgb(151, 134, 171);
}

.chalatenango {
    fill: rgb(224, 190, 196);
}

.chalatenango:hover {
    fill: rgb(184, 150, 156);
}

.lalibertad {
    fill: rgb(254, 204, 92);
}

.lalibertad:hover {
    fill: rgb(214, 164, 52);
}

.cuscatlan {
    fill: rgb(240, 158, 204);
}

.cuscatlan:hover {
    fill: rgb(200, 118, 164);
}

.cabanas {
    fill: rgb(199, 222, 68);
}

.cabanas:hover {

    fill: rgb(159, 182, 28);
}

.lapaz {
    fill: rgb(244, 153, 123);
}

.lapaz:hover {
    fill: rgb(204, 113, 83);
}

.sanvicente {
    fill: rgb(232, 217, 62);
}

.sanvicente:hover {
    fill: rgb(192, 177, 22);
}

.usulutan {
    fill: rgb(191, 210, 165);
}

.usulutan:hover {
    fill: rgb(151, 170, 125);
}

.morazan {
    fill: rgb(237, 218, 62);
}

.morazan:hover {
    fill: rgb(197, 178, 22);
}

.sanmiguel {
    fill: rgb(228, 191, 197);
}

.sanmiguel:hover {
    fill: rgb(188, 151, 157);
}

.launion {
    fill: rgb(246, 159, 204);
}

.launion:hover {

    fill: rgb(206, 119, 164);
}